@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Orbitron&family=Pacifico&family=Poiret+One&family=Quicksand&display=swap');

/*
----------------------------------------------
            Menu styles
----------------------------------------------
*/

li {
    font-size: 2rem;
    color: #ffffff;
    display: inline;
    padding: 0.5rem 2rem 0rem 2rem;
}

ul {
    background-color: #3a3a3a;
    list-style-type: none;
    margin: 0rem;
    padding: 1rem 2rem 5rem 2rem;
}

.FontTabs,
a:link {
    color: #ffffff;
    font-size: 2rem;
    text-decoration: none;
}

.FontTabs,
a:link {
    color: #ffffff;
    font-size: 2rem;
    text-decoration: none;
}

details {
    background-color: #3a3a3a;
    height: 500%;
    width: 18%;
    z-index: auto;
    float: left;
    color: #ffffff;
    font-size: 2rem;
    text-decoration: none;
    padding: 2rem;
    list-style-type: none;
    display: inline;
}

/*
----------------------------------------------
            Page styles
----------------------------------------------
*/

.App {
    text-align: left;
}

.fontsContainer {
    padding: 5rem;
}

.fontDesc {
    font-size: 2.5rem;
}

.Font1Tab,
.Font2Tab,
.Font3Tab,
.Font4Tab,
.Font5Tab,
.Font6Tab,
.Font7Tab {
    height: 100%;
    text-align: right;
    z-index: -1;
    position: relative;
}

.Font1Tab {
    background-color: cadetblue;
    color: #ffffff;
    font-family: 'Michroma', sans-serif;
}

.Font2Tab {
    background-color: #892be2c4;
    color: #ffffff;
    font-family: 'Pushster', cursive;
}

.Font3Tab {
    background-color: #fff8dc;
    color: #302929;
    font-family: 'Orbitron', sans-serif;
}

.Font4Tab {
    background-color: #00ced1;
    color: #302929;
    font-family: 'Comfortaa', cursive;
}

.Font5Tab {
    background-color: #ff7f50;
    color: #ffffff;
    font-family: 'Rajdhani', sans-serif;
}

.Font6Tab {
    background-color: #d42525d2;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
}

.Font7Tab {
    background-color: #ffd700;
    color: #302929;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}

.mainFont {
    margin-top: -2rem;
    font-size: 5.5rem;
}

/*
----------------------------------------------
            Font styles
----------------------------------------------
*/

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 2.9rem;
}

h4 {
    font-size: 2.7rem;
}

h5 {
    font-size: 2.5rem;
}

h6 {
    font-size: 2rem;
}

p {
    font-size: 1.8rem;
}
